.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	grid-template-rows: 380px;
	gap: 45px;
	margin: 20px;
}

.wrapper {
	margin-top: 100px;
	background-color: #f0f0f0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
