.container {
	padding-top: 130px;
	padding-bottom: 60px;
	background-color: #f0f0f0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.container h2 {
	margin-left: 60px;
}
.item {
	display: grid;
	grid-template-columns: 400px 1fr;
	margin: 50px;
	padding: 50px;
	gap: 100px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	background-color: #f8faf9;
	border-radius: 5px;
}
.item img {
	width: 100%;
	object-fit: contain;
	border-radius: 5px 5px 0 0;
}
.price {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
	font-weight: bold;
	font-size: 26px;
}
.wrapperBtn {
	position: relative;
	overflow: hidden;
}
.info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px));
	justify-content: center;
	gap: 50px;
}
@media (max-width: 991px) {
	.item {
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 575px) {
	.item{
		margin: 20px;
	}
	.info {
		width: 95%;
		/* grid-template-columns: repeat(auto-fit, minmax(300px)); */
		display: flex;
		flex-direction: column;
	}
	.price {
		font-size: 20px;
		flex-direction: column;
		gap: 15px;
	}
}
@media(max-width: 435px){
	.wrapperBtn{
		right: 45px;
	}
}
