.wrapper {
	width: 400px;
	height: 360px;
	padding: 30px 0;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	background-color: #f8faf9;
	border-radius: 5px;
	position: relative;
}
.form input {
	width: 260px;
	padding: 15px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	background-color: white;
	border-radius: 10px;
}
.title {
	font-size: 20px;
}
.wrapper h3, .price {
	font-size: 26px;
}

.container_price {
	width: 100%;
	display: flex;
	align-items:flex-end;
	justify-content: space-between;
}
