.item {
	position: relative;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 300px;
	height: 400px;
	gap: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	background-color: #f0f3f2;
	border-radius: 5px;
}
.link img {
	width: 260px;
	height: 260px;
	object-fit: cover;
	border-radius: 5px;
}
.price {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
}
.link {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: stretch;
	text-decoration: none;
	color: black;
}
.sale {
	position: absolute;
	top: 20px;
	right: 0;
	min-width: 80px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #279c5c;
	color: aliceblue;
	padding: 5px;
}
.btn {
	padding: 25px 82px;
	border-radius: 20px;
	background-color: #f1fff199;
	border: 2px solid #339933;
	color: #277227;
	font-size: 18px;
	position: absolute;
	top: 205px;
	right: 20px;
	opacity: 0;
	transition: opacity 0.35s ease;
	cursor: pointer;
}
.item:hover button {
	opacity: 1;
}
