.container {
	position: relative;
	width: 100%;
	height: 470px;
}

.backgroundPhoto {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container input {
	position: absolute;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #3ca465;
	width: 260px;
	height: 50px;
	right: 250px;
	bottom: 130px;
}
h4 {
	font-size: 70px;
	color: aliceblue;
	position: absolute;
	width: 260px;
	height: 80px;
	right: 250px;
	bottom: 304px;
}
.container p {
	font-size: 50px;
	color: aliceblue;
	position: absolute;
	width: 260px;
	height: 80px;
	right: 250px;
	bottom: 230px;
}
.btn {
	text-decoration: none;
	outline: none;
	display: inline-block;
	padding: 9px 29px;
	margin: 9px 19px;
	position: absolute;
	overflow: hidden;
	border: 2px solid #3ca47c;
	border-radius: 10px;
	color: #0c533e;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	font-size: 20px;
	width: 260px;
	right: 230px;
	bottom: 40px;
}
.btn:before {
	content: '';
	background: linear-gradient(
		90deg,
		rgba(245, 241, 241, 0.13),
		rgba(241, 239, 239, 0.62)
	);
	height: 50px;
	width: 50px;
	position: absolute;
	top: -7px;
	left: -80px;
	transform: skewX(-45deg);
}
.btn:hover {
	background-color: #279c6f;
	color: #f9f5f8;
}
.btn:hover:before {
	left: 162px;
	transition: 0.5s ease-in-out;
}
